# Python virtual environment
04_spark_pyspark/basics/spark_venv/
05_airflow/main/airflow_venv/
05_airflow/main/airflow/.env

# Virtual environments

venv/

.env/

# Jupyter
.ipynb_checkpoints/

# Spark
*.parquet
*.orc

# Python
__pycache__/
*.pyc

# OS
.DS_Store
